---
import { Image } from "astro:assets";
import dots from "../../src/assets/dots_background1.svg";
import liniuote from "../../src/assets/apie1.png";
import exercise2 from "../../src/assets/exercise2.png";
---

<style>
  .main-container {
    position: relative;
    margin-top: 9.25rem;
  }

  h2 {
    color: var(--large-text-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.95rem;
    line-height: 1.2;
  }

  .left-side {
    padding: 1rem;
    max-width: 34.375rem;
  }

  .background-image {
    position: absolute;
    z-index: -2;
  }

  .img-container img {
    border-radius: 10px;
    box-shadow: 8px 8px 0px 0px #296fd6;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.3s ease;
  }

  .reversed img {
    box-shadow: -8px -8px 0px 0px #296fd6;
  }

  .img-container img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  @media (min-width: 768px) {
    .main-container {
      margin-top: 6.9rem;
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
    .left-side {
      padding: 0;
      max-width: 23.24863rem;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.75rem;
    }
    .reverse {
      flex-direction: row-reverse;
    }

    .img-container {
      max-width: 375px;
    }
  }
  @media (min-width: 1024px) {
    .container {
      gap: 7.56rem;
    }

    .dots {
      bottom: -7%;
      left: 30%;
    }
  }
</style>

<div class="main-container">
  <div class="background-image dots">
    <Image src={dots} alt="background-image" />
  </div>
  <div class="container">
    <div class="left-side">
      <h2>Apie mane</h2>
      <p>
        Esu kineziterapeutas ir suprantu kaip šiuolaikinis greitas gyvenimo
        tempas ir mažas judėjimas veikia mūsų kūną. Pats <strong
          >patyręs sportinę traumą</strong
        >
        ir ilgą reabilitaciją, puikiai žinau, kaip svarbu žvelgti į sveikatą holistiškai.
        Kiekvienas žmogus yra unikalus, todėl ir gydymo metodai turi būti <strong
          >pritaikyti individualiai</strong
        >. Kviečiu atrasti veiksmingus metodus, padedančius atsikratyti skausmų
        ir sustiprinti jūsų kūną.
      </p>
    </div>
    <div class="img-container reversed">
      <Image src={liniuote} alt="kineziterapija" />
    </div>
  </div>
  <div class="container reverse">
    <div class="left-side">
      <h2>Kokiais atvejais galiu padėti?</h2>
      <p>
        ✔ Stuburo ar sąnarių skausmas <br />
        ✔ Raumenų įtampa ir skausmas <br />
        ✔ Galvos skausmai ar migrena dėl laikysenos ar raumenų įtampos <br />
        ✔ Netaisyklinga laikysena <br />
        ✔ Noras sustiprėti, bet nežinote, nuo ko pradėti <br />
        ✔ Trauma ar pasiruošimas operacijai <br />
        ✔ Reabilitacija po operacijos
      </p>
    </div>
    <div class="img-container">
      <Image src={exercise2} alt="kineziterapija" />
    </div>
  </div>
</div>
