<style>
  .main-container {
    margin-top: 9.25rem;
  }

  h2 {
    color: var(--large-text-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.95rem;
  }

  .left-side {
    padding: 1rem;
    max-width: 34.375rem;
  }

  @media (min-width: 768px) {
    .main-container {
      margin-top: 6.9rem;
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
    .left-side {
      padding: 0;
      max-width: 23.24863rem;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.75rem;
    }
    .reverse {
      flex-direction: row-reverse;
    }

    img {
      max-width: 19.50888rem;
    }
  }
  @media (min-width: 1024px) {
    .container {
      gap: 7.56rem;
    }
  }
</style>

<div class="main-container">
  <div class="container">
    <div class="left-side">
      <h2>Apie mane</h2>
      <p>
        Esu kineziterapeutas ir suprantu kaip šiuolaikinis greitas gyvenimo
        tempas ir mažas judėjimas veikia mūsų kūną. Pats <strong
          >patyręs sportinę traumą</strong
        >
        ir ilgą reabilitaciją, puikiai žinau, kaip svarbu žvelgti į sveikatą holistiškai.
        Kiekvienas žmogus yra unikalus, todėl ir gydymo metodai turi būti <strong
          >pritaikyti individualiai</strong
        >. Kviečiu atrasti veiksmingus metodus, padedančius atsikratyti skausmų
        ir sustiprinti jūsų kūną.
      </p>
    </div>
    <img src="src/assets/rectangle.png" alt="" />
  </div>
  <div class="container reverse">
    <div class="left-side">
      <h2>Kokiais atvejais galiu padėti?</h2>
      <p>
        ✔ Stuburo ar sąnarių skausmas <br />
        ✔ Raumenų įtampa ir skausmas <br />
        ✔ Galvos skausmai ar migrena dėl laikysenos ar raumenų įtampos <br />
        ✔ Netaisyklinga laikysena <br />
        ✔ Noras sustiprėti, bet nežinote, nuo ko pradėti <br />
        ✔ Trauma ar pasiruošimas operacijai <br />
        ✔ Reabilitacija po operacijos
      </p>
    </div>
    <img src="src/assets/rectangle.png" alt="" />
  </div>
</div>
