<style>
  .user-icon {
    max-width: 4.375rem;
    max-height: 4.375rem;
  }

  .main-container {
    padding: 0.94rem;
    margin-top: 3.75rem;
  }

  h2 {
    color: var(--large-text-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.44rem;
  }

  h4 {
    color: var(--large-text-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
  }

  .card-text p {
    color: var(--body-text-color);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .left-side {
    margin-bottom: 3rem;
  }

  .card {
    display: flex;
    width: 100%;
    height: 6.875rem;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--soft-background-color);
    border-radius: 0.625rem;
    padding: 0.3rem;
    padding-left: 1rem;
    filter: drop-shadow(0px 2px 5px rgba(20, 37, 61, 0.1));
    position: relative;
  }

  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    border-radius: 10px 0 0 10px;
    background-color: var(--large-text-color);
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  @media (min-width: 768px) {
    .main-container {
      display: flex;
      align-items: center;
      gap: 7.625rem;
      margin-top: 8rem;
    }
  }

  @media (min-width: 1024px) {
    .main-container {
      margin-top: 10.625rem;
      justify-content: center;
      gap: 10.25rem;
    }
    .left-side {
      max-width: 17.5rem;
    }
  }
</style>

<div class="main-container">
  <div class="left-side">
    <h2>Ka klientai sako apie mane</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt
    </p>
  </div>
  <div class="card-container">
    <div class="card">
      <img class="user-icon" src="src/assets/user.png" alt="" />
      <div class="card-text">
        <h4>Karolis</h4>
        <p>Dominyko atsidavimas jo darbui vertas aplodismentu.</p>
      </div>
    </div>
    <div class="card">
      <img class="user-icon" src="src/assets/user.png" alt="" />
      <div class="card-text">
        <h4>Gediminas</h4>
        <p>
          Dėmesys, nuoširdus rūpestingumas, rezultatas. Patinka. Rekomenduoju.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="user-icon" src="src/assets/user.png" alt="" />
      <div class="card-text">
        <h4>Adomas</h4>
        <p>
          Padėjo spręsti kelio skausmo problemą. Patiko paslaugų kaina
          efektyvumas ir profesionalumas.
        </p>
      </div>
    </div>
  </div>
</div>
