<style>
  img {
    width: 60px;
    height: 60px;
  }

  .name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }

  .kine {
    font-size: 13px;
  }

  .author-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .info p {
    margin: 0.2rem 0;
  }

  button {
    border-radius: 0.625rem;
    background: var(--primary-color);
    color: var(--background-color);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    height: 2.8125rem;
    width: 8rem;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }
</style>

<div class="author-container">
  <img src="/src/assets/Dominykas-Pakarklis.jpg" alt="Dominykas Pakarklis" />
  <div class="info">
    <p class="name">Dominykas Pakarklis</p>
    <p class="kine">Kineziterapeutas</p>
  </div>
</div>
