---
import BlogCard from "./BlogCard.astro";
const getContent = async () => {
  const res = await fetch(
    "http://localhost/wordpress/wp-json/wp/v2/straipsniai?acf_format=standard&per_page=20"
  );
  const data = await res.json();
  return data;
};

const blogs = await getContent();
---

<style>
  .blog-container {
    background-color: var(--soft-background-color);
    padding: 2rem 0;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: min(2.7rem, 1rem + 1vw);
    margin: 0 0.94rem;
  }
</style>

<div class="main-container">
  <h2>Straipsniai</h2>
  <input type="text" />
  <div class="blog-container">
    <ul>
      {
        blogs.map((blog) => (
          <li>
            <BlogCard blog={blog} />
          </li>
        ))
      }
    </ul>
  </div>
</div>
