---
import { Image } from "astro:assets";
import Logo from "../../src/assets/logo.png";
import Hamburger from "../../src/assets/hamburger.png";
import HamburgerWhite from "../../src/assets/hamburger_white.png";
---

<style>
  nav {
    display: none;
  }

  header {
    padding: 16px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: auto;
    height: 3.75rem;
  }

  .hamburger {
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
  }

  .hamburger-close {
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 0.9375rem;
  }

  .overlay-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
  }

  .overlay-nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .overlay-nav ul li {
    margin: 32px 0;
  }

  .overlay-nav ul li a {
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 19.2px;
  }

  .overlay-nav ul li a:hover {
    color: var(--primary-color);
  }

  .mobile {
    background-color: var(--background-color);
    color: var(--primary-color) !important;
    padding: 0.6rem 1rem;
    border-radius: 0.625rem;
  }

  @media (max-width: 48rem) {
    nav {
      display: none;
    }

    .hamburger {
      display: block;
    }

    .overlay-nav {
      display: none;
    }
  }

  @media (min-width: 48rem) {
    header {
      padding: 16px 20px;
    }

    .hamburger {
      display: none;
    }

    nav {
      display: block;
    }

    nav ul {
      display: flex;
      justify-content: space-between;
      width: 529px;
    }

    nav li {
      list-style: none;
      color: var(--large-text-color);
      transition: color 0.3s ease;
    }

    nav li:hover {
      color: var(--primary-color);
    }

    nav ul li:nth-child(-n + 4) {
      position: relative;
    }

    nav ul li:nth-child(-n + 4)::after {
      content: "";
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      width: 0;
      height: 0.125rem;
      background-color: var(--primary-color);
      transition: width 0.3s ease;
    }

    nav ul li:nth-child(-n + 4):hover::after {
      width: 100%;
    }

    .button-registruotis {
      font-weight: 700;
      border-radius: 5px;
      background-color: var(--primary-color);
      color: var(--background-color);
      padding: 10.256px 22.992px;
      transition: background-color 0.3s ease;
    }

    .button-registruotis:hover {
      background-color: var(--secondary-color);
    }

    @media (min-width: 64rem) {
      header {
        padding: 19.2px 40px;
      }

      nav ul {
        width: 587px;
      }
    }
  }
</style>

<header>
  <a href="/"
    ><Image class="logo" src={Logo} alt="Dopaminas" loading="lazy" /></a
  >
  <nav>
    <ul>
      <li><a href="/">Pagrindinis</a></li>
      <li><a href="/paslaugos">Paslaugos</a></li>
      <li><a href="/straipsniai">Straipsniai</a></li>
      <li><a href="/kontaktai">Kontaktai</a></li>
      <li>
        <a class="button-registruotis" href="/registracija">Registruotis</a>
      </li>
    </ul>
  </nav>

  <Image
    class="hamburger"
    src={Hamburger}
    alt="Hamburger menu"
    loading="lazy"
  />
</header>

<div id="overlay" class="overlay-nav">
  <Image
    class="hamburger-close"
    src={HamburgerWhite}
    alt="Hamburger menu"
    loading="lazy"
  />
  <ul>
    <li><a href="/">Pagrindinis</a></li>
    <li><a href="/paslaugos">Paslaugos</a></li>
    <li><a href="/straipsniai">Straipsniai</a></li>
    <li><a href="/kontaktai">Kontaktai</a></li>
    <li>
      <a class="mobile button-registruotis" href="/registracija">Registruotis</a
      >
    </li>
  </ul>
</div>

<script>
  const hamburger = document.querySelector(".hamburger");
  const closeBtn = document.querySelector(".hamburger-close");
  const overlay = document.getElementById("overlay");

  hamburger.addEventListener("click", function () {
    overlay.style.display = "flex";
    document.body.style.overflow = "hidden";
  });

  closeBtn.addEventListener("click", function () {
    overlay.style.display = "none";
    document.body.style.overflow = "auto";
  });
</script>
