---
import { Image } from "astro:assets";
import arrowIcon from "../../src/assets/arrow.png";
---

<style>
  .hidden {
    display: none;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 28px;
    text-align: center;
  }

  h3 {
    color: var(--large-text-color);
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
  }
  .main-container {
    margin: 15.04px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
  }
  .card {
    filter: drop-shadow(0rem 0.125rem 0.3125rem rgba(20, 37, 61, 0.1));
    width: 100%;
  }
  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    border-radius: 10px;
    height: 66px;
    background-color: var(--soft-background-color);
    padding: 13.76px;
    filter: drop-shadow(0rem 0.4375rem 0.6312rem rgba(1, 2, 36, 0.1));
    cursor: pointer;
  }

  .card-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.375rem;
    border-radius: 0.625rem 0 0 0.625rem;
    background-color: var(--large-text-color);
    transition: all 0.3s ease;
  }

  .card-title.active::before {
    background-color: var(--primary-color);
  }

  .arrow-icon {
    width: 15px;
    height: 15px;
    transition: transform 0.3s ease;
  }

  .arrow-icon-reversed {
    transform: rotate(180deg);
  }

  .card-text {
    margin-top: -6px;
    padding: 22px 19px;
    background-color: var(--soft-background-color);
    border-radius: 0 0 10px 10px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
  }
  .no-bold {
    margin-top: 52px;
    font-weight: 500;
    line-height: normal;
  }

  .susisiek {
    color: var(--large-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    width: 130px;
    height: 45px;
    border-radius: 5px;
    border: 0.125rem solid var(--large-text-color);
    background: var(--background-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .susisiek:hover {
    color: var(--background-color);
    background-color: var(--large-text-color);
    cursor: pointer;
  }

  @media (min-width: 48rem) {
    .card-container {
      width: auto;
    }
    .card-title {
      min-width: 728px;
      max-width: 728px;
    }
    .card-text {
      max-width: 728px;
    }
  }
</style>
<div class="main-container">
  <h2>D.U.K</h2>
  <div class="card-container">
    <div class="card">
      <div class="card-title">
        <h3>Kas yra Dopaminas?</h3>
        <Image class="arrow-icon" src={arrowIcon} alt="icon" loading="lazy" />
      </div>
      <div class="card-text hidden">
        Dopaminas yra neurotransmiteris – natūralus cheminis junginys gaminamas
        organizme. Dopaminas dar kitaip vadinamas laimės hormonu, nes yra
        atsakingas už pasitenkinimą, motyvaciją ir norą mokytis.
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h3>Kodėl Dopaminas?</h3>
        <Image class="arrow-icon" src={arrowIcon} alt="icon" loading="lazy" />
      </div>
      <div class="card-text hidden">
        Reguliarus fizinis krūvis viena iš svarbiausių dalių siekiant palaikyti
        gera fizinę bei psichinę sveikatą. Fizinio krūvio metu yra gaminamas
        dopaminas, norepinefrinas bei serotoninas. Šios medžiagos padeda
        palaikyti gerą nuotaiką ir savijautą. Todėl sukūrėme puslapį pavadinimu
        – dopaminas.lt, kurio tikslas suteikti žmonėms daug naudingos nemokamos
        informacijos apie: kineziterapiją, nugaros, kaklo, sąnarių skausmą,
        galvos skausmą ir svaigimą, rankų, kojų tirpimą, laikyseną bei pratimus.
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h3>Kas yra Kineziterapija?</h3>
        <Image class="arrow-icon" src={arrowIcon} alt="icon" loading="lazy" />
      </div>
      <div class="card-text hidden">
        Kineziterapija – tai medicininė terapija, naudojanti judesio ir fizinius
        pratimus kaip pagrindinį gydymo metodą. Jos tikslas – padėti atkurti
        judėjimo funkcijas, sumažinti skausmą, pagerinti kūno mobilumą ir
        stiprinti raumenis. Kineziterapija dažnai taikoma po traumų, operacijų,
        raumenų ir sąnarių problemų, siekiant atstatyti normalią kūno funkciją
        ir užkirsti kelią galimiems sutrikimams.
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h3>Ką daro Kineziterapeutai?</h3>
        <Image class="arrow-icon" src={arrowIcon} alt="icon" loading="lazy" />
      </div>
      <div class="card-text hidden">
        Kineziterapeutai yra sveikatos priežiūros specialistai, kurie
        diagnozuoja ir gydytoja judėjimo sutrikimus. Jie naudojasi įvairiomis
        metodikomis, įskaitant fizinius pratimus, mankštas, tempimo ir
        stiprinimo technikas, siekiant atkurti kūno funkcijas. Kineziterapeutai
        taip pat padeda žmonėms sužinoti, kaip išvengti traumų, patarti apie
        tinkamą laikyseną ir judėjimą kasdienybėje, bei teikia individualias
        reabilitacijos programas po traumos ar operacijos.
      </div>
    </div>
  </div>
  <h2 class="no-bold">Dar vis turite klausimu?</h2>
  <a href="/kontaktai" class="susisiek">Susisiek</a>
</div>

<script>
  const cardButtons = document.querySelectorAll(".card-title");

  cardButtons.forEach((button) => {
    button.addEventListener("click", () => {
      const card = button.closest(".card");
      const text = card.querySelector(".card-text");
      const arrow = card.querySelector(".arrow-icon");

      text.classList.toggle("hidden");
      arrow.classList.toggle("arrow-icon-reversed");
      button.classList.toggle("active");
    });
  });
</script>
