<style>
  iframe {
    width: 100%;
    height: 1200px;
  }

  @media (min-width: 768px) {
    iframe {
      height: 650px;
    }
  }
</style>

<div class="main-container">
  <iframe
    title="registracija"
    src="https://app.simplymeet.me/pabandymas?is_widget=1&view=compact"
    frameborder="0"
    scrolling="no"></iframe>
</div>
