<style>
  iframe {
    width: 100%;
  }
  h2 {
    color: var(--large-text-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
  }
  input {
    width: 15.625rem;
    height: 2.4375rem;
    border-radius: 0.3125rem;
    border: 1px solid var(--large-text-color);
    padding: 0.75rem 0.9375rem;
    background-color: var(--background-color);
  }

  textarea {
    resize: none;
    width: 15.625rem;
    height: 7.875rem;
    border-radius: 0.3125rem;
    border: 1px solid var(--large-text-color);
    padding: 0.75rem 0.9375rem;
    background-color: var(--background-color);
  }

  button {
    width: 10rem;
    height: 2.25rem;
    border-radius: 0.625rem;
    border: none;
    background: var(--primary-color);
    color: var(--background-color);
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
  }

  button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }

  .contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    margin-bottom: 3.8rem;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.56rem;
    padding-bottom: 1.7rem;
    border-bottom: 0.0625rem solid var(--large-text-color);
  }

  .info-info {
    display: flex;
    align-items: center;
    gap: 0.62rem;
  }

  .info-info a:hover {
    color: var(--primary-color);
  }

  .info-info img {
    width: 1.25rem;
    height: 1.25rem;
  }
  .bigger-icons img {
    width: 1.875rem;
    height: 1.875rem;
  }

  h4 {
    color: var(--large-text-color);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0.63rem;
  }

  .contact-info {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.91rem;
  }

  .input-group {
    position: relative;
  }

  .placeholder {
    color: var(--body-text-color);
    font-size: 0.75rem;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.3s;
    pointer-events: none;
  }

  .input:focus + .placeholder {
    padding: 0 5px;
    top: -10px;
    background-color: var(--background-color);
  }
  .background-image {
    position: absolute;
    max-width: 180px;
    right: 0;
    bottom: -9%;
    opacity: 10%;
    z-index: 2;
  }

  @media (min-width: 768px) {
    .background-image {
      transform: scaleX(-1);
      left: 0;
      bottom: -22.5%;
      max-width: 190px;
    }
    .contact-container {
      flex-direction: row;
      justify-content: center;
      margin: 5rem 0;
    }

    .contact-form {
      border-bottom: none;
      border-right: 0.0625rem solid var(--large-text-color);
      padding-bottom: 0;
      padding-right: 3.12rem;
      align-items: start;
    }
    input {
      width: 19.0625rem;
    }

    textarea {
      width: 19.0625rem;
    }

    h2 {
      font-size: 2.25rem;
    }
    iframe {
      height: 22.25rem;
    }
  }
  @media (min-width: 1024px) {
    .background-image {
      max-width: 16.25rem;
    }
  }
</style>

<div class="main-container">
  <div class="contact-container">
    <div class="background-image">
      <img src="src/assets/background.png" alt="" />
    </div>
    <div class="contact-form">
      <h2>Parašykite mums</h2>
      <div class="input-group">
        <input type="text" class="input" />
        <label class="placeholder">Vardas</label>
      </div>
      <div class="input-group">
        <input class="input" type="email" />
        <label class="placeholder">El. Pastas</label>
      </div>
      <div class="input-group">
        <textarea class="input"></textarea>
        <label class="placeholder">Zinute</label>
      </div>
      <button>Siusti</button>
    </div>
    <div class="contact-info">
      <div class="info-container">
        <h4>Telefono numeris</h4>
        <div class="info-info">
          <img src="src/assets/phone-call_black.png" alt="" />
          <p>+37063996502</p>
        </div>
      </div>
      <div class="info-container">
        <h4>Adresas</h4>
        <div class="info-info">
          <img src="src/assets/pin_black.png" alt="" />
          <a
            href="https://www.google.com/maps?ll=54.917323,23.949456&z=18&t=m&hl=en&gl=BE&mapclient=embed&q=Savanori%C5%B3+pr.+276+Kaunas+50200+Kauno+m.+sav.+Lithuania"
            target="_blank"><p>Savanorių pr. 276, Kaunas</p></a
          >
        </div>
      </div>
      <div class="info-container">
        <h4>El. Paštas</h4>
        <div class="info-info">
          <img src="src/assets/email_black.png" alt="" />
          <a href="mailto:info@dopaminas.lt">info@dopaminas.lt</a>
        </div>
      </div>
      <div class="info-container">
        <h4>Socialiniai tinklai</h4>
        <div class="info-info bigger-icons">
          <a href="https://www.facebook.com/dopaminas.lt/" target="_blank">
            <img src="src/assets/fb_black.png" alt="" />
          </a>
          <a href="https://www.instagram.com/dopaminas.lt/" target="_blank"
            ><img src="src/assets/ig_black.png" alt="" /></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d573.1667272296919!2d23.948811869683894!3d54.917323769109686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e7188d2d86390f%3A0xbe80df3c38fdb9b!2sSavanori%C5%B3%20pr.%20276%2C%20Kaunas%2C%2050200%20Kauno%20m.%20sav.%2C%20Lithuania!5e0!3m2!1sen!2sbe!4v1739055680482!5m2!1sen!2sbe"
      width="320"
      height="320"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
