---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="lt">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/webp"
      href="./figura_juoda.webp"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/webp"
      href="./figura_balta.webp"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dopaminas</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
